<div class="itinerary-comments">
    <div class="itinerary-comment">
        <h4>Comments:</h4>

        {{#each this}}
        <div class="comments">
            <p class="blue-text">Josh Says:</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        {{/each}}
    </div>
</div>   