<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/qsc3hpo.css">
        <title>Project 2 Template</title>
    </head>

    <header>
        <a href="/"><img src="./images/pindrop.png" width="20px"></a>

        <nav>
            <a href="/dashboard" class="nav-item">Dashboard</a>
            <button id="logout" class="nav-item logout">Logout</button>
            <a href="/login" class="nav-item">Login</a>
            <a href="/sign-up" class="nav-item">Sign up</a>
        </nav>
    </header>

    <section class="hero"></section>

    <body>
    <main class="container">


        <div class="flex-sub">

            <!--create post START -->

            <section class="itinerary-add-section"> 

                <div class="itinerary-header">
                    <h2>Add an idea:</h2>
                </div> 

                <div class="itinerary-main">
                    <div class="itinerary-item">
                            <form class="to-do">
                                <label for="title">Title:</label><br>
                                <input type="text" id="itinerary-title" name="itinerary-title">
                                <label for="link">Link:</label><br>
                                <input type="text" id="itinerary-link" name="itinerary-link">
                                <label for="notes">Notes:</label><br>
                                <textarea type="text" id="itinerary-notes" name="itinerary-notes"></textarea>
                                <button id="to-do-add-button" class="btn">Post</button>
                            </form>

                        </p>
                    </div>
                </div>

            </section>

            <!-- create post END -->



    </div>
    </main>
    </body>
</html>