<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/qsc3hpo.css">
        <title>Project 2 Template</title>
    </head>

    <header>
        <a href="/"><img src="./images/pindrop.png" width="20px"></a>

        <nav>
            <a href="/dashboard" class="nav-item">Dashboard</a>
            <button id="logout" class="nav-item logout">Logout</button>
            <a href="/login" class="nav-item">Login</a>
            <a href="/sign-up" class="nav-item">Sign up</a>
        </nav>
    </header>

    <section class="hero"></section>

    <body>
    <main class="container">


        <div class="flex-sub">

            <!-- view post START -->

            <section class="itinerary-view-section"> 

                <div class="itinerary-header">
                    <h2>Itinerary Idea</h2>
                </div> 

                <div class="itinerary-main">
                    <div class="itinerary-item">
                        <h4>Larimer Square</h4>
                        <p><a href="">https://www.larimersquare.com/</a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nisl varius, pharetra velit quis, pretium est. Fusce imperdiet bibendum sagittis. Donec eu interdum mauris. Cras id urna venenatis augue sollicitudin pulvinar ac at felis. Proin rutrum lorem neque, nec venenatis elit pretium quis. Morbi elementum vehicula turpis at dictum. Aliquam mollis metus sed interdum malesuada. In id faucibus turpis. Fusce et tellus eu ante consequat pellentesque porta vel libero. Aenean mollis tincidunt nunc, quis feugiat nisl venenatis vitae. Integer suscipit est nec dui dictum, eget dictum mi vehicula. Duis nisi lectus, placerat nec leo eget, blandit mattis ligula.

                        </p>
                    </div>
                </div>
                
                <div class="itinerary-comments">
                    <div class="itinerary-comment">
                        <h4>Comments:</h4>
                        <div class="comments">
                            <p class="blue-text">Josh Says:</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </div>
                        <div class="comments">
                            <p class="blue-text">Ryan Says:</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </div>
                    </div>
                </div>   

                <div class="itinerary-add-comment-header">
                    <h2>Add a Comment:</h2>
                </div>
                <div class="itinerary-add-comment-main">
                    <form class="to-do">
                        <textarea type="text" id="itinerary-add-comment" name="itinerary-add-comment"></textarea>
                        <button id="itinerary-add-comment-button" class="btn">Post</button>
                    </form>
                </div>

            </section>

            <!-- view post END -->



    </div>
    </main>
    </body>
</html>