<div class="flex-sub">

    <section class="itinerary-add-section"> 

        <div class="itinerary-header">
            <h2>Add an idea:</h2>
        </div> 

        <div class="itinerary-main">
            <div class="itinerary-item">

                    <form class="to-do">
                        <label for="title">Title:</label><br>
                        <input type="text" id="itinerary-title" name="itinerary-title">

                        <label for="link">Link:</label><br>
                        <input type="text" id="itinerary-link" name="itinerary-link">

                        <label for="notes">Notes:</label><br>
                        <textarea type="text" id="itinerary-notes" name="itinerary-notes"></textarea>

                        <button id="to-do-add-button" class="btn">Post</button>
                    </form>
            </div>
        </div>

    </section>

</div>