<div class="flex-sub">
    <section class="login-section"> 
        
        <div class="login-header">
            <h2>Welcome Back!</h2>
        </div>

        <div class="login-main">
            <form class="login-form">
                <label for="username">Username:</label><br>
                <input type="text" id="username-login" name="username-login">

                <label for="password">Password:</label><br>
                <input type="text" id="password-login" name="password-login">

                <button type="submit" id="login-button" class="btn">Log In</button>
                <a href="/signup" class="form-link">Create an account.</a>
            </form>
        </div>

    </section>
</div>

<script src="/javascript/login.js"></script>