<div class="flex-sub">
    <section class="signup-section">

        <div class="signup-header">
            <h2>
                Create an Account:
            </h2>
        </div>

        <div class="signup-main">
            <form class="signup-form">
                <label for="username-login">Username:</label><br>
                <input type="text" id="username-signup" name="username">

                <label for="password-signup">Password:</label><br>
                <input type="password" id="password-signup" name="password">

                <label for="trip-id-insert">Trip ID:</label><br>
                <p>If you don't have a Trip ID, <a href="/trip-info">click here</a> to generate one!</p>
                <input type="text" id="trip-id" name="trip-id">

                <button type="submit" id="signup-button" class="btn">Sign Up</button>
                <a href="/login" class="form-link">Already have an account? Log in.</a>
            </form>
        </div>

    </section>
</div>

<script src="/javascript/signup.js"></script>