<div class="flex-sub">
    <section class="trip-info-section">

        <div class="trip-info-header">
            <h2>Tell us about your trip:</h2>
        </div>

        <div class="trip-info-main">
            <form class="trip-info-form">
                <label for="location">Trip Location:</label><br>
                <input type="text" id="location" name="location">

                <label for="start-date">Start Date:</label><br>
                <input type="text" id="start-date" name="start-date">

                <label for="end-date">End Date:</label><br>
                <input type="text" id="end-date" name="end-date">
                <button type="submit" id="trip-info-button" class="btn">Continue to dashboard!</button>
            </form>
        </div>

    </section>
</div>

<script src="/javascript/trip-info-form.js"></script>